@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.advantagesSection {
    background-color: $color-white;
    margin-bottom: 40px;
}

.cardContainer {
    @include container;
    padding: 0 1rem;

    @include desktop {
        padding: 0 44px;
    }
}

.header {
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    @include desktop {
        margin-bottom: 4rem;
        // padding-left: 71px;
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.ellipse {
    width: 100%;

    @include desktop {
        width: auto;
    }
}

.headerBtn {
    @include desktop {
        margin-bottom: 8px;
    }
}

.title {
    font-size: 2rem;
    font-weight: 500;
    color: $color-black;
    margin-bottom: 1rem;
    max-width: 100%;

    @include tablet {
        font-size: 2.5rem;
    }

    @include desktop {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
}

.subtitle {
    @include subtitle;
    color: $color-accent;
    font-size: 2rem;

    @include tablet {
        font-size: 2.5rem;
    }

    @include desktop {
        font-size: 3rem;
    }
}

.gridWrapper {
    width: 100%;
    margin-top: 2rem;

    @include desktop {
        margin-top: 3rem;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    width: 100%;
    align-items: stretch;

    @include desktop {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}