@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.card {
    display: flex;
    align-items: flex-end;
    gap: 12px;
}

.imageWrapper {
    flex-shrink: 0;
    line-height: 0;

    img {
        max-width: 100px;
        height: auto !important;

        @include mobile {
            max-width: 80px;
        }
    }
}

.content {
    border-radius: 44px 44px 44px 0;
    background-color: #5A55F4;
    padding: 31px 37px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 445px;

    @include mobile {
        padding: 16px;
        border-radius: 20px 20px 20px 0;
        gap: 8px;
    }
}

.title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;

    @include mobile {
        font-size: 16px;
    }
}

.text {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
    margin: 0;
}